<div class="main">
    <div class="container">
       
            <form>
                  <div [formGroup] = "form">
                    <label>Email:</label>
                    <input type="text" class="input" placeholder="EMAIL" formControlName="email"/>
                  </div>
                  <div>
                    <label>Password:</label>
                    <input type="text" class="input" placeholder="password" formControlName="password"/>
                  </div>
                  <div>
                    <button type="submit">Login</button>
                  </div>
            </form>
        
    </div>
</div>
